@let movie = this.movie();
<mat-card class="card" appearance="outlined" (click)="movieClick.emit(movie)">
  <div class="card__poster-wrap">
    <img mat-card-image class="card__poster" [src]="movie.imagen" [alt]="movie.titulo" loading="lazy">
    <app-favorito-button class="card__fav" [peliculaId]="movie.id" />
  </div>
  <mat-card-content class="card__overlay">
    <p class="card__title">{{ movie.titulo }}</p>
    <div class="card__tags">
      <span class="card__rating">{{ movie.puntuacionMedia | number: '1.1-1' }}</span>
      <mat-chip-set>
        <mat-chip>{{ movie.generos[0] }}</mat-chip>
      </mat-chip-set>
      <span>{{ movie.anioEstreno }}</span>
    </div>
  </mat-card-content>
</mat-card>
